# Ignore all .md files in root
/*.md

# Ignore all JS API keys under assets
src/main/assets/*api-keys*.js

# Ignore common temp or compressed folders
src/**/temp/
src/main/.claude/settings.local.json
src/compressed/main/
src/compressed/temp/
CLAUDE.md
TODO.md
src/main/manifest.json
src/temp/package-lock.json
src/temp/package.json
src/temp/node_modules/.package-lock.json
src/temp/node_modules/terser/package.json
src/temp/node_modules/terser/dist/bundle.min.js
src/temp/node_modules/terser/lib/ast.js
src/temp/node_modules/terser/lib/equivalent-to.js
src/temp/node_modules/terser/lib/mozilla-ast.js
src/temp/node_modules/terser/lib/mozilla-ast.js
src/temp/node_modules/terser/lib/output.js
src/temp/node_modules/terser/lib/parse.js
src/temp/node_modules/terser/lib/size.js
src/temp/node_modules/terser/lib/compress/index.js
src/temp/node_modules/terser/lib/compress/inline.js
src/temp/node_modules/terser/lib/compress/tighten-body.js
src/temp/node_modules/terser/tools/terser.d.ts
