# Ignore all .md files in root
/*.md

# Ignore all JS API keys under assets
src/main/assets/*api-keys*.js

# Ignore common temp or compressed folders
src/**/temp/
src/**/compressed/
src/main/.claude/settings.local.json
src/compressed/main/
src/compressed/temp/