:root {
    --all-backgound-color: white;
    /* --background-image: url('../assets/theme_ntp_background.png'); */
    /* --group-background-color: rgb(39, 80, 104); */
    --group-background-color: rgb(187, 187, 187);
    --group-shadow-color: black;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--all-backgound-color);
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}

header {
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: last baseline;
}

.groups-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.group {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--group-background-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px var(--group-shadow-color);
}

.grid {
    display: grid;
    gap: 10px;
    padding: 10px;
    display: flex; /* Enables flexbox layout */
    justify-content: space-around; /* Distributes items evenly */
    align-items: center; /* Centers items vertically */
    grid-template-rows: 1;
    grid-template-columns: min-content;
}

.link-grid {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
}

.stack {
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.link-stack {
    height: auto;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 5px;
    list-style: none; /* Remove bullet points */
    display: flex; /* Enable flexbox */
}

.link-stack:hover {
    background-color: rgb(123, 123, 123);
    text-decoration: none;
    padding: 0px;
}


.link-stack a {
    font-size: 15pt;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: rgb(123, 123, 123);
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}

.link-stack img {
    width: 20px; /* Set fixed width */
    height: 20px; /* Set fixed height */
    padding: 0;
    padding-right: 5px;
    object-fit: contain;
}

.settings-button {
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 33px;
    height: 33px;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
    overflow: hidden;
}